body{
    font-size: 40px;
}

.box{
    background-color: green;
    color: white;
    /*transition: background-color 1s ease-in-out;*/
    transition: all .5s ease-in-out;
}

/*
.box:hover{
    background-color: red;
    color: blue;
}
*/

.box:active{
    background-color: red;
    color: blue;
}