/*
https://developer.mozilla.org/en-US/docs/Web/CSS/transform
*/

.box{
    width: 100px;
    height: 100px;
    background: red;
    transition: transform .5s ease-in-out;
}

.box:hover{
    transform: rotate(1turn) scale(.5, .5);
}