html,body{
    height: 100%;
}

.father{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    height: 100%;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
}

.box{
    background-color: red;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}