/*
https://developer.mozilla.org/en-US/docs/Web/CSS/transform
*/
body{
    font-size: 40px;
}
.box{
    width: 100px;
    height: 100px;
    background: red;
    
    animation: 1.5s scaleAndRotateSquare infinite ease-in-out;
    /*
        animation: 1.5s scaleAndRotateSquare ease-in-out;
    */
}

/*
@keyframes scaleAndRotateSquare{
    form{
        transform: none;
    }
    to{
        transform: rotate(1turn) scale(.5, .5);
    }
}
*/

@keyframes scaleAndRotateSquare{
    0%{
        transform: none;
    }
    50%{
        transform: rotate(1turn) scale(.5, .5);
        color:white;
    }
    100%{
        transform: none;
        color: blue;
    }
}